body {
    position: relative;
    min-height: 100vh;
    background-color: #000000;
    overflow-y: scroll;
}

#HeaderSection {
    position: fixed;
    top: 0rem;
    width: 100%;
    height: 8rem;
    overflow: hidden;
    z-index: 2;
}

#BodySection {
    padding-top: 8rem;
    background-color: #ffffff;
    padding-bottom: 100vh;
    margin: auto;
    z-index: 1;
}

#FooterSection {
    position: absolute;
    bottom: 0rem;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    z-index: 0;
}

#LandingSection {
    height: 100vh;
    margin: 3.5rem;
}

#ContactSection {
    background-color: #ffffff;
    height: 100%;
}

#NavContainer {
    padding: 3.5rem;
    height: 100%;
    background-color: transparent;
}

#FlexContainer {
    margin: 0rem;
    width: 100%;
    list-style: none;
    padding-right: 1.75rem;
    padding-left: 1.75rem;
    align-items: stretch;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

#FlexHeader {
    margin: 0.5rem;
    flex-grow: 1;
    text-align: center;
    height: 8rem;
    text-decoration: none;
}

#FlexSecondaryHeader {
    margin: 0.5rem;
    flex-grow: 1;
    text-align: center;
    height: 4rem;
    text-decoration: none;
}

#FlexItem {
    margin: 1.75rem;
    position: relative;
    width: 44%;
    height: 100vh;
    flex-grow: 1;
}

#ItemImage {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 70%;
}

#ProjectContainer {
    padding: 0rem;
    margin: 0rem;
    width: 100%;
    list-style: none;
    flex-grow: 1;
    display: inline-flex;
    justify-content: center;
}

#ProjectImage {
    position: relative;
    background-size: cover;
    background-position: center;
    flex-grow: 1;
    height: 50rem;
}

#ProjectText {
    margin: 1.5rem;
    flex-grow: 1;
    width: 20rem;
}

#ProjectTitle {
    position: relative;
    color: #000000;
    display: block;
    margin: auto;
    max-width: 640px;
    top: 25vh;
    font-size: 2.5rem;
    text-decoration: none;
}

#WorkContainer {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

#WorkTitle {
    color: #000000;
    text-align: left;
    font-size: 1rem;
    text-decoration: none;
}

#WorkIntro {
    color: #4E4F52;
    margin-top: 1.5rem;
    text-align: left;
    font-size: 1rem;
    text-decoration: none;
}

#WorkTag {
    margin-top: 1.5rem;
    color: #909398;
    margin-bottom: 1.5rem;
    text-align: left;
    font-size: 0.9rem;
    text-decoration: none;
}

#ProjectDescription {
    position: relative;
    color: #000000;
    max-width: 640px;
    top: 50%;
    line-height: 1.75;
    text-decoration: none;
}

#TextCenter {
    position: relative;
    text-align: center;
    color: #000000;
    top: 50%;
    text-decoration: none;
    font-size: 2rem;
}

#Image {
    display: block;
    align-self: center;
    width: 100%;
    height: 100%;
    overflow: visible;
}

#Overlay {
    position: absolute;
    top: 0rem;
    bottom: 0rem;
    left: 0rem;
    right: 0rem;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

#Overlay:hover {
    opacity: 1;
}

#NavTitle {
    position: relative;
    text-align: left;
    color: #000000;
    text-decoration: none;
    font-size: 2rem;
}

#Slogan {
    position: relative;
    text-align: center;
    color: #000000;
    display: block;
    top: 40%;
    text-decoration: none;
    font-size: 4.5rem;
}

#FooterText {
    position: relative;
    text-align: center;
    color: #000000;
    display: block;
    top: 40%;
    text-decoration: none;
    font-size: 4.5rem;
}

#FooterNext {
    position: relative;
    text-align: center;
    color: #ffffff;
    display: block;
    text-decoration: none;
    font-size: 5rem;
}
